@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    background-image: url("img/constellation1.jpg");
    background-size:100%;
    background-repeat: repeat-y;
}
h1{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#particles-js{
    cursor:default;
}
#gap1{
    height:600px;
}