@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body{
    background-image: url("img/constellation1.jpg");
    background-size:100%;
    background-repeat: repeat-y;
}
h1{

}
#particles-js{
    cursor:default;
}
#gap1{
    height:600px;
}

#indicator
{
    position:absolute;
    top:90%;
    left:50%;
    margin-left:-16px;
   
}

#title
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    animation: appear 10s;
}

@keyframes appear {
    from {
        opacity:0;  
    }
    to {
        opacity:100;
    }
  }

@keyframes appear_indicator {
    0% {
        opacity:0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity:100;
    }
}