{% load compress %} 
{% load static %} 

<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<meta charset="UTF-8"> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
	<meta name="viewport" content= 
		"width=device-width, initial-scale=1.0"> 
	<title>Django + Tailwind CSS</title>
	{% compress css %} 
	<link rel="stylesheet"
		href="{% static 'src/output.css' %}"> 
	{% endcompress %} 

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head> 

<body class="bg-black"> 

	<div id="container" class="m-0">
		
		{% block content %} 
		{% endblock content %} 

	</div>
		<script src="{% static 'particles.js' %}"></script>
		<script src="{% static 'app.js' %}"></script> 
		<script src="{% static 'scripts.js' %}"></script>
</body> 

</html>
