{% extends "base.html" %} 

{% block content %} 
	
	<div id = "particles-js" class="h-screen flex items-center justify-center">
			<h1 class="text-white text-7xl">Dawid Młynarski</h1>
	</div>
	<div id="gap1"></div>
	<div class="mt-11 grid grid-cols-3 gap-5 p-10 m-10">
		<div class=" text-white flex flex-col items-center justify-center"> 
			<i class="material-icons md-light md-48" style="font-size:5vw;">person</i>
			<p>Who am I?</p>
		</div>
		<div class="flex text-white flex-col items-center justify-center">
			<i class="material-icons" style="font-size:5vw;">computer</i>
			<p class="text-white">What do I offer?</p>
		</div>
		<div class="flex text-white flex-col items-center justify-center">
			<i class="material-icons" style="font-size:5vw;">work</i>
			<p class="text-white">My portfolio</p>
		</div>
	<!--<div id="gap1"></div>-->

	</div>
	
{% endblock content %}
